code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* base styles */
* {
  margin: 0;
  font-family: "Verdana";
  color: #333;
}

.content {
  margin: 40px auto;
  padding: 20px;

}
